@import "reset.css";
@import "normalize.css";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body{
	font: normal 14px 'Open Sans', Arial, sans-serif;
	color:#999;
}

.wrap {
	width: 400px;
	margin: 0 auto;
}

.task-list {
	position: relative;
	left: -30px;
	width: 99%;
	min-height: 50px;
	background: #fff;
	box-shadow: 2px 2px 0px #ddd;
	margin-top: 40px;
	padding: 22px 6%;
}

.box{
	width: 443px;
	position: relative;
	left: -30px;
	top: 20px;
}




#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

